/* all */
html,
body {
    height: 100%;
}

a {
    /* all links should have pointer cursor */
    cursor: pointer;
}

.pad-nav {
    /* ensures content is shown below the nav bar */
    padding-top: 80px;
    min-height: 100vh;
    width: 90%;
    margin: auto;
}

.form-control:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(222, 39, 39, 0.25);
}

.hide {
    display: none !important;
}

/* footer (NEEDS FIXING) */
footer {
    padding: 32px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: row;
    /* horizontally aligned */
    justify-content: space-between;
    /* puts company-info and socmed divs on opposite ends */
}

footer div {
    /* styles both company-info and socmed */
    display: flex;
    flex-direction: row;
    /* horizontally aligned */
    justify-content: center;
    align-items: center;
    gap: 16px;
    /* spacing between inside div elements */
}

.socmed img {
    /* socmed icons */
    width: auto;
    /* auto aspect ratio according to height */
    height: 30px;
}

.brand {
    /* logo image dimensions */
    width: 24px;
    height: 24px;
}

/* nav bar */

.navbar {
    border-bottom: 8px solid #dc3545;
    /* Red border underneath the navbar */
}

.navbar-nav {
    flex-grow: 1;
    /* Allows nav items to use up remaining space */
    justify-content: space-between;
    /* Spacing between nav items */
    padding-left: 10px;
    padding-right: 10px;
}

.navbar .nav-link {
    /* styles the page link text */
    font-size: 18px;
    font-weight: 600;
    color: #686868;
}

.navbar .nav-item .active {
    /* styles current page link (eg on home page, styles HOME link text) */
    cursor: default;
    /* indicates non clickable */
}

.navbar .nav-item i {
    color: #dc3545;
}

.navbar .nav-item:hover i {
    color: #a72f3b;
}

.navbar .nav-item:active i {
    color: darkred
}

/* index.html */

.carousel,
.carousel-item,
.carousel-inner,
.active {
    /* ensures fills page */
    height: 100%;
}

.carousel-caption {
    display: block !important;
    /* shows no matter the screen size */
}

.carousel-item {
    background-size: cover;
    /* so image will always be full screen while maintaining aspect ratio */
}

.carousel-item-bg {
    /* carousel caption bg */
    background-color: rgba(83, 85, 90, 0.7);
    /* translucent grey bg */
    width: auto;
    padding: 12px;
    /* pads bg around text */
}

.carousel-item-bg h4 {
    /* styles caption header */
    font-size: 28px;
    font-weight: 500;
}

.carousel-item-bg p {
    /* styles caption details */
    font-size: 18px;
}

.go-btn {
    /* products page button */
    min-width: 124px;
    border-radius: 0;
}

.bg1 {
    /* home product page img bg */
    background: url(../img/bg.png) no-repeat center center fixed;
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(100%);
}

.carousel .carousel-indicators button {
    /* styles bottom buttons indicating which page user is on */
    background-color: rgba(70, 70, 70, 0.65);
}

.carousel .carousel-indicators .active {
    /* current page user is on has darker button colour */
    background-color: #333;
}

/* discussion forum and post */
.reply-header {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post,
.reply,
.post-addreply {
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
}

.post:hover,
#postreply .reply:hover,
.post-addreply:hover {
    cursor: pointer;
    filter: brightness(95%);
}

.reply {
    /* over write post */
    background-color: #ffffff;
}

#post-container,
#reply-container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.boxheader,
#post-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #686868;
}

.boxheader {
    margin-bottom: 0.5rem;
}

.account {
    text-align: left;
}
.account:hover {
    cursor: pointer;
    color: #dc3545;
}

.datetime {
    text-align: right;
}

#post-header .account,
#post-header .datetime {
    font-size: 18px;
}

.text {
    text-align: left;
    font-size: 17px;
}

.edit-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1rem;
    color: #dc3545;
}

.edit-bar .btn {
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
}

.edit-bar .btn:active {
    color: darkred;
}

/* add reply */

.post-addreply {
    background-color: #ffffff;
}

#newreply {
    width: 100%;
    background-color: #e7e7e7;
}

.confirm-bar {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: end;
}


/* login register */
.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 70%;
}

.form-group {
    margin-bottom: 1.5rem;
}

form .btn {
    width: fit-content;
    font-size: 18px;
}

.tab-content,
.tab-pane,
.form-group,
.inputs,
form input {
    width: 100%;
}

/* Change the default color of the nav-pills */
.nav-pills .nav-link.active {
    background-color: #dc3545;
}

.nav-pills .nav-link.active:hover {
    color: white;
}

.nav-pills .nav-link {
    color: #dc3545;
}

.nav-pills .nav-link:hover {
    color: darkred;
}

#loginError {
    margin-top: 1.5rem;
}

/* profile */
.profile-info {
    border: 2px solid #686868;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-info .btn {
    width: fit-content;
}

#logout {
    margin-left: auto;
}

.postreplyhead {
    margin-top: 1rem;
}

#postreply {
    width: 100%;
    margin-top: 1rem;
}

#postreply .reply {
    background-color: #e7e7e7;
    flex-basis: 95%;
    margin-left: auto;
    margin-right: 0;
    flex-shrink: 1;
}

.reply-box {
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.connector {
    flex-basis: 5%;
    height: 100%;
}

.connector img {
    padding-left: 1rem;
    min-width: 100%;
    max-height: 100%;
    margin-top: -0.8rem;
}