h1 {
    text-align: center;
}

#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
    list-style: none;
    padding: 0;
}

.post {
    width: calc(33% - 1rem);
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    /* Change to column to stack children */
}

.postheader {
    display: flex;
    /* Flex container for account and datetime */
    justify-content: space-between;
    /* Space between account and datetime */
    width: 100%;
}

.account {
    color: #686868;
    text-align: left;
}

.datetime {
    color: #686868;
    text-align: right;
}

.text {
    margin-top: 1.5rem;
    text-align: left;
}

/* discussion post */
#post-container, 
#reply-container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

#post-container .post {
    margin: auto;
    width: 90%;
}

#createreply {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
}

.reply {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}